<div class="hidden md:flex space-x-8">
    <a href="#home" class="nav-link">
        Inicio
    </a>
    <a href="#experience" class="nav-link">
        Experiencia
    </a>
    <a href="#projects" class="nav-link">
        Proyectos
    </a>
    <a href="#technologies" class="nav-link">
        Tecnologías
    </a>
</div>